body{
    background-image: url("https://cdn.wallpapersafari.com/95/92/nOvTZM.jpg ");
    background-repeat: no-repeat;
    background-size:cover;}
.h2{
    font-style: oblique;
    font-size:30px;
    font-weight:100px ;
    }
.b1{
        background-color: white;
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 15px;
        border-color:white ;
        border-style:groove;
        border-width: 5px;}
.b2{
        background-color: white; 
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 15px;
        border-color:white ;
        border-style:groove;
        border-width: 5px;
      }  
     .b3{
        background-color: white;
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 15px;
        border-color:white ;
        border-style:groove;
        border-width: 5px;
    }
     .b4{
        background-color: white;
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 15px;
        border-color:white ;
        border-style:groove;
        border-width: 5px;
     }  
.input{
 margin-right:1px;
    margin-left: 70px;
}
 .h4{
    font-size:30px ;
    font-style: oblique;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
  }

.h1{
    font-style: oblique;
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.h22{
font-style: oblique;
font-size:20px ;
}
 .p1{
font-style: oblique;
font-size: 10px;}   
 .bu1{
margin-left: 100px;
margin-right: 50px;
border-radius:20px ;
margin-top: 30px;

 }
.bu2{
    border-radius: 50px;
}
.a1{
    text-decoration: none;
    color: black;
    
}
.a2{text-decoration: none;
    color: black;

}
.a3{
    text-decoration: none;
    color: black;
}
.a4{text-decoration: none;
    color: black;

}
























